/vendor/
/packages/*/*/vendor/
/examples/*/vendor/
/node_modules/
**/node_modules/
/composer.lock
/examples/*/.env
/examples/*/.tmp/
/examples/*/.strapi/
/examples/*/dist/
/examples/*/public/uploads/*
!/examples/*/public/uploads/.gitkeep
/.phpunit.cache/
/.php-cs-fixer.cache
/build/
*.sqlite
/parity.json
/composer.dev.json
/composer.dev.lock
