parameters:
    level: 8
    phpVersion: 80300
    paths:
        - packages/core/types/src
        - packages/core/utils/src
        - packages/core/permissions/src
        - packages/utils/logger/src
        - packages/core/database/src
        - packages/core/core/src
        - packages/core/strapi/src
        - packages/core/admin/server/src
        - packages/core/admin/shared
        - packages/core/content-manager/server/src
        - packages/core/content-type-builder/server/src
        - packages/core/upload/server/src
        - packages/core/upload/shared
        - packages/providers/upload-local/src
        - packages/providers/upload-aws-s3/src
        - packages/providers/upload-cloudinary/src
        - packages/plugins/i18n/server/src
        - packages/plugins/users-permissions/server/src
        - packages/plugins/graphql/server/src
        - packages/plugins/color-picker/server/src
        - packages/plugins/sentry/server/src
        - packages/generators/generators/src
        - packages/core/openapi/src
        - packages/core/data-transfer/src
        - packages/plugins/documentation/server/src
        - packages/core/email/server/src
        - packages/providers/email-sendmail/src
        - packages/providers/email-nodemailer/src
        - packages/providers/email-amazon-ses/src
        - packages/providers/email-mailgun/src
        - packages/providers/email-sendgrid/src
        - packages/utils/api-tests/src
        - packages/utils/upgrade/src
        - packages/utils/upgrade/resources
        - packages/cli/create-strapi-app/src
        - packages/cli/create-strapi-app/bin/create-strapi-app
        - packages/cli/create-strapi-app/templates
        - scripts
        - examples/plugins/announcements/server/src
        - examples/plugins/announcements/tests/php
    scanDirectories:
        - packages
    excludePaths:
        - packages/*/*/admin
        - packages/*/*/vendor
    treatPhpDocTypesAsCertain: false
