<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true">
    <testsuites>
        <testsuite name="utils"><directory>packages/core/utils/tests</directory></testsuite>
        <testsuite name="permissions"><directory>packages/core/permissions/tests</directory></testsuite>
        <testsuite name="logger"><directory>packages/utils/logger/tests</directory></testsuite>
        <testsuite name="database"><directory>packages/core/database/tests</directory></testsuite>
        <testsuite name="core"><directory>packages/core/core/tests</directory></testsuite>
        <testsuite name="admin"><directory>packages/core/admin/tests</directory></testsuite>
        <testsuite name="content-manager"><directory>packages/core/content-manager/tests</directory></testsuite>
        <testsuite name="content-type-builder"><directory>packages/core/content-type-builder/tests</directory></testsuite>
        <testsuite name="upload"><directory>packages/core/upload/tests</directory></testsuite>
        <testsuite name="provider-upload-local"><directory>packages/providers/upload-local/tests</directory></testsuite>
        <testsuite name="provider-upload-aws-s3"><directory>packages/providers/upload-aws-s3/tests</directory></testsuite>
        <testsuite name="provider-upload-cloudinary"><directory>packages/providers/upload-cloudinary/tests</directory></testsuite>
        <testsuite name="i18n"><directory>packages/plugins/i18n/tests</directory></testsuite>
        <testsuite name="email"><directory>packages/core/email/tests</directory></testsuite>
        <testsuite name="provider-email-sendmail"><directory>packages/providers/email-sendmail/tests</directory></testsuite>
        <testsuite name="provider-email-nodemailer"><directory>packages/providers/email-nodemailer/tests</directory></testsuite>
        <testsuite name="provider-email-amazon-ses"><directory>packages/providers/email-amazon-ses/tests</directory></testsuite>
        <testsuite name="provider-email-mailgun"><directory>packages/providers/email-mailgun/tests</directory></testsuite>
        <testsuite name="provider-email-sendgrid"><directory>packages/providers/email-sendgrid/tests</directory></testsuite>
        <testsuite name="strapi"><directory>packages/core/strapi/tests</directory></testsuite>
        <testsuite name="data-transfer"><directory>packages/core/data-transfer/tests</directory></testsuite>
        <testsuite name="users-permissions"><directory>packages/plugins/users-permissions/tests</directory></testsuite>
        <testsuite name="graphql"><directory>packages/plugins/graphql/tests</directory></testsuite>
        <testsuite name="color-picker"><directory>packages/plugins/color-picker/tests</directory></testsuite>
        <testsuite name="sentry"><directory>packages/plugins/sentry/tests</directory></testsuite>
        <testsuite name="generators"><directory>packages/generators/generators/tests</directory></testsuite>
        <testsuite name="openapi"><directory>packages/core/openapi/tests</directory></testsuite>
        <testsuite name="documentation"><directory>packages/plugins/documentation/tests</directory></testsuite>
        <testsuite name="integration"><directory>tests/php</directory></testsuite>
        <testsuite name="example-plugins"><directory>examples/plugins/announcements/tests/php</directory></testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">packages/core/*/src</directory>
            <directory suffix=".php">packages/utils/*/src</directory>
        </include>
    </source>
</phpunit>
